/* Chat view blocks */
/* Seasonal Nitro nag (Winter 2025 and possibly future ones) */
div[class$="-colorPremium"]:has(svg[class$="-giftIcon"]) {
  display: none;
}

/* Game server ad */
div[id^="popout_"]:has(img[class$="-gameServerHostingImage"]) {
  display: none;
}

/* Nitro tab */
li[class*=-channel]:has(a[href="/store"]) {
  display: none;
}

/* Store tab */
li[class*=-container]:has(a[href="/shop"]) {
  display: none;
}

/* Quests tab */
div[class*="-wrapper"][style^="--custom-shine-dimensions"]:has([href="/quest-home"]) {
  display: none;
}

/* Gift button */
div[class*=-buttons] > div[class$="-button"]:has(div[class*="lottieIcon"]):not(div[class^="expression-picker-chat-input-button"]):not(div[class$="app-launcher-entrypoint"]) {
  display: none;
}

/* Nitro upsell banner in emoji picker */
div[class$="-emojiPicker"] div[class$="-upsellContainerFloating"] {
  display: none;
}

/* Nitro nag in bottom left pop-out personal mini profile */
div[class$="-inner"] > div[class$="-scrollerBase"] > div[class$="-username"] + aside[class$="-upsellContainer"] {
  display: none;
}

/* Hide Nitro quality selectors and upsell */
div[class$=-footer] > div > div > div[class*="-pillContainer"] {
  display: none;
}
div[class$=-footer] > div[class$=-upsellRibbonContainer] {
  display: none;
}

/* Upsell banner in soundboard */
div[id^="popout_"] div[class$="-upsellContainerFloating"] {
  display: none;
}

/* Custom video background upsell */
div[class$="-newBackgroundTooltipContainer"]:has(div[class*="-backgroundCustomInlineUpsellBackground"]) {
  display: none;
}

/* Promoted quests in "Now playing" sidebar */
div[class$="-interactive"] > div > div[class$="-inset"]:has(img[src*="/quests/"])  {
  display: none;
}

/* Nitro WARP+ ad in untrusted links modal */
div[class*="-linkCalloutContainer"] ~ div[class*="-container"]:has(div[class$="-ctaContainer"]) {
  display: none;
}

/* Settings pages */
/* WARP+ Cloudflare sponsorship */
/* Fucking... Privacy via Cloudflare? Seriously? */
div[data-settings-sidebar-item="private_browsing_panel"] {
  display: none;
}

/* Billing settings */
div[data-list-id="settings-sidebar"] > nav > ul:has(div[data-settings-sidebar-item="nitro_panel"]) {
  display: none;
}

/* Profile customisation banner ad */
div[class*="-settingsPage"] > div > div:has(div[class*="-artContainer"]) {
  display: none;
}

/* Avatar picker Nitro exclusives */
#user-settings-change-avatar-change-avatar-decoration {
  display: none;
}
div[class*="-imageSelectionSection"] > ul[class*="-optionsList"] > li:has(div[class*="-gifGrid"]) {
  display: none;
}
div[class*="-modalContent"] > div[class*="-upsellContainer"] {
  display: none;
}

/* Avatar decoration, nameplate, and profile effect settings */
div[class*="-settingsPage"] > div > div > div[class*=-profileCustomizationSection] > div[class*=-baseLayout] > div[class*=-sectionsContainer] {
  div[class*=-customizationSection]:nth-of-type(5) ,
  div[class*=-customizationSection]:nth-of-type(6) ,
  div[class*=-customizationSection]:nth-of-type(7)
  { display: none; }
}

/* Profile settings bottom upsell ("Try Nitro!" preview) */
div[class*="-settingsPage"] {
  div[class*="-premiumFeatureBorder"] ,
  div[class*="-upsellContainer"]
  { display: none; }
}

/* Server profiles upsell */
div[class*="-profileCustomizationSection"] div[class*="-upsellOverlayContainer"] {
  display: none;
}

/* App colour */
div[role="radiogroup"] {
  div[class*="-container"]:has(img[src^="https://cdn.discordapp.com/assets/content/"]) ,
  section:has(svg[class*="nitroWheel"]) ,
  div[class$="-colorThemesBackground"] ,
  + div[class$="-divider"]
  { display: none; }
}

/* Nitro app icons */
div[class*="-selectionGroup"]:has([class*="-appIconSelectionContainer"]) {
  display: none;
}

/* Entrance sounds picker */
div[data-debug-key="entrance_sounds_setting"] {
  display: none;
}

/* Guilds blocking */
/* Server boost button */
#guild-header-popout > div > div > div[id="guild-header-popout-premium-subscribe"] {
  display: none;
}

/* Hide upsell banner for messages that are too long */
div[class*=characterCount]>div[class*=-upsell] {
  display: none;
}

/* Hide message length Nitro "subscribe" button */
div[role=dialog]>div>div>div[class*=-primaryActions]>button:has(svg[class*=premiumIcon]) {
  display: none;
}

/* Boost goal bar */
ul[class*="-content"] > div[class*="-container"]:has(div[class*="-progressContainer"]) {
  display: none;
}

/* Nitro Boosted guild icon */
div[class*=-guildIconContainer]:has(svg[class*=-boostedGuildIconGem]) {
  display: none;
}

/* User profile ads */
/* Profile badges */
div[class*="-tags"] > div:has(span[class*="-userTagUsername"]) ~ div[class*="-container"] {
  display: none;
}

/* Store button in profile */
div[class*="-profileButtons"] > span:has(path[d="M21 11.42V19a3 3 0 0 1-3 3h-2.75a.25.25 0 0 1-.25-.25V16a2 2 0 0 0-2-2h-2a2 2 0 0 0-2 2v5.75c0 .14-.11.25-.25.25H6a3 3 0 0 1-3-3v-7.58c0-.18.2-.3.37-.24a4.46 4.46 0 0 0 4.94-1.1c.1-.12.3-.12.4 0a4.49 4.49 0 0 0 6.58 0c.1-.12.3-.12.4 0a4.45 4.45 0 0 0 4.94 1.1c.17-.07.37.06.37.24Z"]) {
  display: none;
}

/* User profiles wishlist */
div[class$="user-profile-sidebar"] div[class$="-wishlistBreadcrumb"] {
  display: none;
}

/* Custom emoji popout container upsell */
div[class$="-emojiSection"] > button[class*="-shinyButton"] ,
div[class$="-emojiSection"] > div > div > div[data-text-variant="text-sm/normal"] ,
div[class$="-emojiSection"] + div[class$="-guildSection"] ,
div[class$="-reactionTooltip"] > div:has(div[class$="-reactionEmojiDetailsClickable"]) {
  display: none;
}

/* Super reaction upsell */
div[class*=-burstReactionTooltipPrompt][class$=-burstReactionTooltipSpacer] {
  display: none;
}

/* Nitro Boost upsell in role icons popout */
div[class$="-popoutContainer"]:has(div[class$="-roleIconContainer"]) {
  div[class$="-mainContent"] > div[class$="-truncatingText"] > div {
    display: none;
  }
  button {
    display: none;
  }
}
