*

!*/

!**/.gitignore

!/README.md
!assets/**/*

# btop
!src/.config/btop/**/*

# VSCode
!src/.config/Code/User/*

# fish
!src/.config/fish/config.fish

# helix
!src/.config/helix/**/*

# hypr
!src/.config/hypr/**/*

# kitty
!src/.config/kitty/**/*

# niri
!src/.config/niri/**/*.kdl

# noctalia
!src/.config/noctalia/templates/*
!src/.config/noctalia/*

# qimgv
!src/.config/qimgv/qimgv.conf

# starship
!src/.config/starship/*
!src/.config/starship.toml

# vesktop
!src/.config/vesktop/settings/quickCss.css
!src/.config/vesktop/themes/*.css

# xdg-desktop-portal
!src/.config/xdg-desktop-portal/portals.conf
!src/.config/xdg-desktop-portal-termfilechooser/config

# yazi
!src/.config/yazi/**/*

# zed
!src/.config/zed/*

# zen
!src/.config/zen/*

!src/.config/vscode-styles.css
!src/.config/user-dirs.dirs
!src/.config/mimeapps.list

!src/.local/bin/*

!src/Pictures/Avatar/*
!src/Pictures/Wallpapers/**/*
