*

!*/

!**/.gitignore

!/README.md
!assets/**/*

!.config/btop/themes/*.theme
!.config/btop/btop.conf
!.config/fastfetch/config.jsonc
!.config/fish/config.fish
!.config/hypr/hyprlock.conf
!.config/kitty/kitty.conf
!.config/niri/**/*.kdl
n.config/iri/noctalia.kdl
!.config/noctalia/settings.json
!.config/noctalia/user-templates.toml
!.config/nvim/lua/**/*
!.config/nvim/lazyvim.json
!.config/nvim/init.lua
!.config/nvim/stylua.toml
!.config/qimgv/qimgv.conf
!.config/scripts/**/*
!.config/vesktop/settings/quickCss.css
!.config/vesktop/themes/*.css
!.config/vlc/*
!.config/xdg-desktop-portal/portals.conf
!.config/xdg-desktop-portal-termfilechooser/config
!.config/yazi/plugins/**/*
!.config/yazi/*
!.config/user-dirs.dirs
!.config/mimeapps.list
!.config/starship.toml
!.local/bin/*
