*

!*/

!**/.gitignore

!/README.md
!assets/**/*

# btop
!home/.config/btop/**/*

# VSCode
!home/.config/Code/User/*

# fish
!home/.config/fish/config.fish

# helix
!home/.config/helix/**/*

# hypr
!home/.config/hypr/**/*

# kitty
!home/.config/kitty/**/*

# niri
!home/.config/niri/**/*.kdl

# noctalia
!home/.config/noctalia/templates/*
!home/.config/noctalia/*

# qimgv
!home/.config/qimgv/qimgv.conf

# starship
!home/.config/starship/*
!home/.config/starship.toml

# vesktop
!home/.config/vesktop/settings/quickCss.css
!home/.config/vesktop/themes/*.css

# xdg-desktop-portal
!home/.config/xdg-desktop-portal/portals.conf
!home/.config/xdg-desktop-portal-termfilechooser/config

# yazi
!home/.config/yazi/**/*

!home/.config/user-dirs.dirs
!home/.config/mimeapps.list

!home/.local/bin/*

!home/Pictures/Avatar/*
!home/Pictures/Wallpapers/**/*
