@import url("https://catppuccin.github.io/discord/dist/catppuccin-mocha.theme.css");

* {
    font-family: "JetBrainsMono NF", monospace !important;
}

.c38106a3f0c3ca76-bar {
    display: none;
}

.theme-light,
.theme-dark {
    --custom-app-top-bar-height: 0px !important;
}

.stack_dbd263 {
    padding-top: 18px;
}

.bar_c38106 {
    opacity: 0;
}
