spawn-sh-at-startup "qs -c noctalia-shell"
spawn-sh-at-startup "fcitx5 -d"
spawn-sh-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-sh-at-startup "/usr/lib/xdg-desktop-portal-termfilechooser -r"

binds {
    // #"General"
    Mod+Shift+Slash     hotkey-overlay-title="Niri Keymap"          { spawn-sh "qs -c noctalia-shell ipc call plugin:keybind-cheatsheet toggle"; }
    Mod+Tab             hotkey-overlay-title="Overview"             { toggle-overview; }
    Mod+Q               hotkey-overlay-title="Close window"         { close-window; }
    Mod+Delete          hotkey-overlay-title="Quit Niri"            { quit; }


    // #"Noctalia"
    Mod+I               hotkey-overlay-title="Settings"             { spawn-sh "qs -c noctalia-shell ipc call settings toggle"; }
    Mod+Space           hotkey-overlay-title="Launcher"             { spawn-sh "qs -c noctalia-shell ipc call launcher toggle"; }
    Mod+Grave           hotkey-overlay-title="Control Center"       { spawn-sh "qs -c noctalia-shell ipc call controlCenter toggle"; }
    Mod+N               hotkey-overlay-title="Notification"         { spawn-sh "qs -c noctalia-shell ipc call notifications toggleHistory"; }
    Mod+V               hotkey-overlay-title="Clipboard"            { spawn-sh "qs -c noctalia-shell ipc call launcher clipboard"; }
    Mod+B               hotkey-overlay-title="Battery"              { spawn-sh "qs -c noctalia-shell ipc call battery togglePanel"; }
    Mod+Slash           hotkey-overlay-title="Emoji"                { spawn-sh "qs -c noctalia-shell ipc call launcher emoji"; }
    Mod+Shift+N         hotkey-overlay-title="Network"              { spawn-sh "qs -c noctalia-shell ipc call network togglePanel"; }
    Mod+Shift+S         hotkey-overlay-title="Session Menu"         { spawn-sh "qs -c noctalia-shell ipc call sessionMenu toggle"; }
    Mod+Shift+R         hotkey-overlay-title="Screencast"           { spawn-sh "qs -c noctalia-shell ipc call plugin:screen-recorder toggle"; }


    // #"Apps"
    Mod+Escape          hotkey-overlay-title="System Monitor"       { spawn-sh "kitty --class btop -e btop"; }
    Mod+Return          hotkey-overlay-title="Terminal"             { spawn "kitty"; }
    Mod+E               hotkey-overlay-title="File Manager"         { spawn "nautilus"; }
    Mod+G               hotkey-overlay-title="Zen Browser"          { spawn "zen-browser"; }
    Mod+Alt+G           hotkey-overlay-title="Google Chrome"        { spawn "google-chrome-stable"; }
    Mod+C               hotkey-overlay-title="Code"                 { spawn "code"; }
    Mod+D               hotkey-overlay-title="Discord"              { spawn "vesktop"; }
    Mod+Y               hotkey-overlay-title="Yazi"                 { spawn-sh "kitty --class yazi -e yazi ~/Downloads"; }
    Mod+Alt+Y           hotkey-overlay-title="Yazi as root"         { spawn-sh "kitty --class yazi -e sudo -E yazi ~/Downloads"; }


    // #"Utils"
    Mod+P               hotkey-overlay-title="Lock screen"          { spawn "hyprlock"; }
    Mod+Shift+C         hotkey-overlay-title="Color picker"         { spawn-sh "hyprpicker | wl-copy"; }


    // #"Theme"
    Mod+0               hotkey-overlay-title="Random Wallpaper"     { spawn "rdwal"; }
    Mod+1               hotkey-overlay-title="Theme Catppuccin"     { spawn-sh "theme.py Catppuccin"; }
    Mod+2               hotkey-overlay-title="Theme Gruvbox"        { spawn-sh "theme.py Gruvbox"; }


    // #"Focus"
    Mod+H               hotkey-overlay-title="Focus column ←"               { focus-column-left-or-last; }
    Mod+L               hotkey-overlay-title="Focus column →"               { focus-column-right-or-first; }
    Mod+K               hotkey-overlay-title="Focus workspace ↑"            { focus-workspace-up; }
    Mod+J               hotkey-overlay-title="Focus workspace ↓"            { focus-workspace-down; }
    Mod+Left            hotkey-overlay-title=null                           { focus-column-left-or-last; }
    Mod+Right           hotkey-overlay-title=null                           { focus-column-right-or-first; }
    Mod+Up              hotkey-overlay-title=null                           { focus-workspace-up; }
    Mod+Down            hotkey-overlay-title=null                           { focus-workspace-down; }
    Alt+K               hotkey-overlay-title="Focus window ↑"               { focus-window-up-or-bottom; }
    Alt+J               hotkey-overlay-title="Focus window ↓"               { focus-window-down-or-top; }


    // #"Layout"
    Alt+Tab                     hotkey-overlay-title="Cycle layout"         { switch-focus-between-floating-and-tiling; }
    Mod+T                       hotkey-overlay-title="Toggle floating"      { toggle-window-floating; }
    Alt+S                       hotkey-overlay-title="Toggle stack"         { toggle-column-tabbed-display; }
    Mod+BracketLeft             hotkey-overlay-title="Join ←"               { consume-or-expel-window-left; }
    Mod+BracketRight            hotkey-overlay-title="Join →"               { consume-or-expel-window-right; }
    Mod+Comma                   hotkey-overlay-title="Consume █ ←"          { consume-window-into-column; }
    Mod+Period                  hotkey-overlay-title="Expel █ →"            { expel-window-from-column; }


    // #"Resize"
    F11                         hotkey-overlay-title="Fullscreen"           { fullscreen-window; }
    Mod+F                       hotkey-overlay-title="Full width"           { maximize-column; }
    Mod+R                       hotkey-overlay-title="Cycle width"          { switch-preset-column-width; }
    Mod+Shift+F                 hotkey-overlay-title=null                   { expand-column-to-available-width; }
    Mod+Minus                   hotkey-overlay-title="Width -"              { set-column-width "-5%"; }
    Mod+Equal                   hotkey-overlay-title="Width +"              { set-column-width "+5%"; }
    Mod+Shift+Minus             hotkey-overlay-title="Height -"             { set-window-height "-5%"; }
    Mod+Shift+Equal             hotkey-overlay-title="Height +"             { set-window-height "+5%"; }


    // #"Move"
    Mod+Shift+H                 hotkey-overlay-title="Move column ←"        { move-column-left; }
    Mod+Shift+L                 hotkey-overlay-title="Move column →"        { move-column-right; }
    Mod+Shift+K                 hotkey-overlay-title="Move column ↑"        { move-column-to-workspace-up; }
    Mod+Shift+J                 hotkey-overlay-title="Move column ↓"        { move-column-to-workspace-down; }
    Mod+Shift+Left              hotkey-overlay-title=null                   { move-column-left; }
    Mod+Shift+Right             hotkey-overlay-title=null                   { move-column-right; }
    Mod+Shift+Up                hotkey-overlay-title=null                   { move-column-to-workspace-up; }
    Mod+Shift+Down              hotkey-overlay-title=null                   { move-column-to-workspace-down; }
    Mod+Ctrl+H                  hotkey-overlay-title=null                   { move-column-left; }
    Mod+Ctrl+L                  hotkey-overlay-title=null                   { move-column-right; }
    Mod+Ctrl+K                  hotkey-overlay-title="Move window ↑"        { move-window-up; }
    Mod+Ctrl+J                  hotkey-overlay-title="Move window ↓"        { move-window-down; }
    Mod+Ctrl+Left               hotkey-overlay-title=null                   { move-column-left; }
    Mod+Ctrl+Right              hotkey-overlay-title=null                   { move-column-right; }
    Mod+Ctrl+Up                 hotkey-overlay-title=null                   { move-window-up; }
    Mod+Ctrl+Down               hotkey-overlay-title=null                   { move-window-down; }
    Mod+Alt+K                   hotkey-overlay-title="Move workspace ↑"     { move-workspace-up; }
    Mod+Alt+J                   hotkey-overlay-title="Move workspace ↓"     { move-workspace-down; }



    // #"Mouse"
    Mod+WheelScrollUp           hotkey-overlay-title="Focus workspace ↑"        cooldown-ms=250 { focus-workspace-up; }
    Mod+WheelScrollDown         hotkey-overlay-title="Focus workspace ↓"        cooldown-ms=250 { focus-workspace-down; }
    Mod+Ctrl+WheelScrollUp      hotkey-overlay-title="Move window ↑"            cooldown-ms=250 { move-column-to-workspace-up; }
    Mod+Ctrl+WheelScrollDown    hotkey-overlay-title="Move window ↓"            cooldown-ms=250 { move-column-to-workspace-down; }
    Mod+Shift+WheelScrollUp     hotkey-overlay-title="Focus column ←"           cooldown-ms=75  { focus-column-left; }
    Mod+Shift+WheelScrollDown   hotkey-overlay-title="Focus column →"           cooldown-ms=75  { focus-column-right; }


    // #"Screenshot"
    Mod+S                       hotkey-overlay-title="Manual screenshot"        { screenshot show-pointer=false; }
    Mod+A                       hotkey-overlay-title="Screen screenshot"        { screenshot-screen show-pointer=false; }
    Mod+W                       hotkey-overlay-title="Window screenshot"        { screenshot-window; }


    // #"XF86"
    XF86Calculator              hotkey-overlay-title=null       { spawn "gnome-calculator"; }
    XF86AudioRaiseVolume        hotkey-overlay-title=null       { spawn-sh "qs -c noctalia-shell ipc call volume increase"; }
    XF86AudioLowerVolume        hotkey-overlay-title=null       { spawn-sh "qs -c noctalia-shell ipc call volume decrease"; }
    XF86AudioMute               hotkey-overlay-title=null       { spawn-sh "qs -c noctalia-shell ipc call volume muteOutput"; }
    XF86AudioMicMute            hotkey-overlay-title=null       { spawn-sh "qs -c noctalia-shell ipc call volume muteInput"; }
    XF86AudioPlay               hotkey-overlay-title=null       { spawn-sh "qs -c noctalia-shell ipc call media playPause"; }
    XF86AudioPause              hotkey-overlay-title=null       { spawn-sh "qs -c noctalia-shell ipc call media playPause"; }
    XF86AudioPrev               hotkey-overlay-title=null       { spawn-sh "qs -c noctalia-shell ipc call media previous"; }
    XF86AudioNext               hotkey-overlay-title=null       { spawn-sh "qs -c noctalia-shell ipc call media next"; }
    XF86MonBrightnessUp         hotkey-overlay-title=null       { spawn-sh "qs -c noctalia-shell ipc call brightness increase"; }
    XF86MonBrightnessDown       hotkey-overlay-title=null       { spawn-sh "qs -c noctalia-shell ipc call brightness decrease"; }


    // #"Extend"
    Mod+Prior       hotkey-overlay-title=null       { spawn-sh "qs -c noctalia-shell ipc call brightness increase"; }
    Mod+Next        hotkey-overlay-title=null       { spawn-sh "qs -c noctalia-shell ipc call brightness decrease"; }
}

include "./base.kdl"
include "./uni-wallpaper.kdl"
include "./extend/animations.kdl"

include "./noctalia.kdl"

